@{
    ViewData["Title"] = "PAGINA DE iNICIO";
}

<div class="text-center">
    <h1 class="display-4">Bienvendo al sistema de empleo  mis Ministros CR</h1>
    <p>Selecione la opcion que mas <span>sea de su agrado</span></p>
</div>
