@{
    ViewData["Title"] = "PAGINA DE iNICIO";
}

<div class="text-center">
    <h1 class="display-4">Bienvendo al sistema mis Ministros CR</h1>
    <p>Selecione la opcion que mas sea de su agrado</p>
</div>
