@* @model IEnumerable<MisministrosCR_VERSION1.Models.Oferente> *@
  ViewData["Title"] = "Privacy Policy";


@section Estilos {
    <link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" rel="stylesheet" />

}


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@{
    ViewData["Title"] = "ListarOferentes";
}

<h1>ListarOferentes</h1>

<table  id="tboferente">
    <thead>
        <tr>
            <th>OferenteId</th>
            <th>Nombre</th>
            <th>FechaNacimiento</th>
            <th>Email</th>
            <th">Puesto</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts {
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#tboferente').DataTable({
                "ajax":{

                    "url":"@Url.Action("ListarPostulantes","Home")",
                    "type":"GET",
                    "datatype":"json",
                },
                columns: [
                { data: "oferenteId" },
                { data: "nombre" },
                { data: "fechaNacimiento" },
                { data: "email" },
                { data: "telefono" },
                { data: "puesto"},
                { data: "estado" }
                ]
            });
        });

    </script>
}