@* @model IEnumerable<MisministrosCR_VERSION1.Models.Oferente> *@
 


@section Estilos {
    <link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" rel="stylesheet" />
   <link href="~/css/site.css" rel="stylesheet"></>

}







<div class="card mt-3 bl-2">
    <h4 class="card-header">

<h4 class="card-title">Lista de oferentes</h4>

    </div>
<table id="tboferente" class="table  bg-dark">
    <thead>
        <tr>
            <th>OferenteId</th>
            <th>Nombre</th>
            <th>FechaNacimiento</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Puesto</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody class="card-body">
    </tbody>
</table>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
  
    <script>
        $(document).ready(function () {
            $('#tboferente').DataTable({
                "ajax":{

                    "url":"@Url.Action("ListarPostulantes","Oferenteservicios")",
                    "type":"GET",
                    "datatype":"json",
                },
              
                columns: [
                { data: "oferenteId" },
                { data: "nombre" },
                { data: "fechaNacimiento" },
                { data: "email" },
                { data: "telefono" },
                { data: "puesto"},
                { data: "estado" }
                ]
                , 
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json"
                }
            });
        });

    </script>
}