
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
label {
    border:none;
}

body {
   background-image: url('/image/gradiente.jpg');
  
}
.ministerios{
margin-top:2em


}
.col-md-10{
    margin-left:20px;
    background-color: aliceblue;
    /*width: 94% ;
    margin-top:12px;
    margin-bottom:4px;
    height:92%;
    border-radius:14px;
    border : 2px solid  dotted*/

}
 
    .form-group label {
        color: orangered
    }


form-group {
    background-color: black !important

}
.Ministerios:hover {


    background-color: mistyrose;
}

#btnagregar {

    border-radius: 12px;
    font-family:Arial;
    font-size:12px
}
h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
    text-align:center;
        
}
#tablaC, #tbexplaboral {
    background-color: cadetblue;
}