
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
label {
    border:none;
}
.boton-modal{

    padding:40px !important;
    background-color:white !important;
}
.moday-body {  background-color:crimson;
}
.boton-modal label {
    padding: 10px 15px;
    background-color: green;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
}
    body {
        /*background-image: url('/image/gradiente.jpg');*/
        background: linear-gradient(to bottom, #2d57e2,#677bba);
    }
.ministerios{
margin-top:2em


}
.col-md-12{
    margin-left:20px;
    background-color: aliceblue;
    /*width: 94% ;
    margin-top:12px;
    margin-bottom:4px;
    height:92%;
    border-radius:14px;
    border : 2px solid  dotted*/

}
 
    .form-group label {
        color: orangered
    }


form-group {
    background-color: black !important

}
.Ministerios:hover {


    background-color: mistyrose;
}

#btnagregar {

    border-radius: 12px;
    font-family:Arial;
    font-size:12px
}
h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
    text-align:center;
        
}

#row {
    background-color:aliceblue;
    padding:4px;
    border: 3px solid white;
    border-radius :12px

}
#tablaC, #tbexplaboral {

    background-color: cadetblue;
}

/*aplicar estilos  al modal */
#t-body {
    cursor:pointer;
    color: lightseagreen;
    background-color:crimson;

}
#modal-container {

    background-color:darkslategray
}

table {

    border :2px solid white;
    border-radius:12px;
}
    table > thead {


        background-color:green;
    }
thed tr>th {

    color:white;
}